# =========================
# 🔐 BẢO MẬT
# =========================
creds.json
.env

# =========================
# 🐍 PYTHON
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# =========================
# 📊 OUTPUT FILE
# =========================
data.csv
data.xlsx

# =========================
# 🧪 VENV / ENV
# =========================
venv/
env/
.venv/

# =========================
# 🧰 IDE / EDITOR
# =========================
.vscode/
.idea/

# =========================
# 🖥️ OS FILE
# =========================
.DS_Store
Thumbs.db
